---
import './hero.css';
import Boton from '../atoms/Boton.astro';
---

<section class="hero">

	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">Luis Leandro Rojas Rojas</h1>
			<p class="hero__text">
				Economist | Data Scientist for Business
			</p>
			<Boton href="#" texto="Quiero saber más"/>
		</div>
    <img
		class="hero__img"
		src="/img/luis-rojas.jpg"
		alt="Luis Rojas"
		width="384"
    	height="384"
	/>
	</div>
</section>
