---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Skills" />
		<p>
			I am an economist and data scientist, specialized in machine learning. 
			I have a solid background in mathematics applied to business, statistics,
			 and econometrics, as well as in computer science. My experience focuses
			  on financial analysis, using algorithms, techniques, and statistical tools
			   to collect, organize, and utilize data with the goal of improving investment performance.
			Likewise, I have knowledge in risk management, fraud detection, and the optimization
			 of financial operations. I employ advanced analysis methods to evaluate investment portfolios
			  and provide data-driven strategic recommendations. 
			  In terms of computer tools, I am proficient in various areas. 
			  I have expertise in business intelligence using Excel and PowerBI,
			   as well as programming languages such as Python, R, JavaScript, HTML, and CSS.
			    Furthermore, I have experience working with relational databases like MySQL and non-relational databases like MongoDB.
		</p>
	</div>
</section>
