---
import TerminalIcon from '../../atoms/terminal-icon/TerminalIcon.astro';
import Terminal from '../terminal/Terminal.astro';
import './skills-on-terminal.css';
---

<Terminal nombre="luisrojas">
	<div class="terminal__skills">
		<h2>My Skills</h2>
		<div class="terminal__skills__container">
			<TerminalIcon
				src="/assets/mysql.svg"
				color="#7738ff"
				name="MySQL"
			/>
			<TerminalIcon
				src="/assets/icons8_python.svg"
				color="#ffffff"
				name="Python"
			/>
			<TerminalIcon
				src="/assets/icons-r-project.svg"
				color="#00D1FF"
				name="R Stat"
			/>
			<TerminalIcon src="/assets/icons8-excel.svg" color="#4dcd66" name="Excel" />
			<TerminalIcon src="/assets/icons8-git.svg" color="#fe6d6a" name="Git" />
			<TerminalIcon src="/assets/icons8-github-logo.svg" color="#ffffff" name="GitHub" />
			<TerminalIcon src="/assets/icons8-power-bi-2021.svg" color="#faed46" name="Power Bi" />
			<TerminalIcon src="/assets/icons8-tableau-software.svg" color="#F3CBC2" name="Tableau" />
			<TerminalIcon src="/assets/mongodb.svg" color="#46d9fa" name="MongoDB" />
			<TerminalIcon src="/assets/css.svg" color="#00A3FF" name="CSS" />
			<TerminalIcon src="/assets/html.svg" color="#FF4F00" name="HTML" />
			<TerminalIcon src="/assets/javascript.svg" color="#F7DF1E" name="JavaScript" />
		</div>
	</div>
</Terminal>
